h1 {
    color:mediumvioletred;
    background-color: blueviolet; 
    width: 50%;
    text-align: center;
    margin:auto;
}
h1 {
    background-position : center ;
}

h2 { 
    color: rgb(202, 20, 202);
}
.darkorchid {
    color: darkorchid;
}
p {
background-color: cyan;
background-position:initial ;
width:fit-content ;
}


